.currentWeather--details, .currentWeather--images {
  
  place-self: center;

}
.currentWeather h1 {
  font-size: 3rem;
}


.currentWeather h2 {
  font-size: 2rem;
  margin-bottom: 5px;
}

.currentWeather--images img{
  width: 150px;
  height: 150px;

}